
$colors: (
        success: #28a745,
        info:    #17a2b8,
        warning: #ffc107,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

/* How to use */
body {
  color: color(success);
}